body {
  background-color: #fafafad7;
  color: #212121;
  line-height: 1.5;
  position: relative;
  padding-bottom: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}

.gallery {
  max-width: 1228px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  padding: 24px 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 36px;
}

button {
  font-family: inherit;
  cursor: pointer;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;

  border-radius: 8px;
  padding: 8px 16px;

  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 95px;
}

button:hover {
  background-color: #6c8cff;
}

input {
  width: 360px;
  padding: 8px 16px;
  border: 1px solid #8584846f;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
}

input:hover,
input:focus {
  border-color: #000000;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info p {
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #0399fd;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#load-more-btn {
  display: block;
  width: fit-content;
  padding: 8px 16px;
  display: none;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
}